# Environment
NODE_ENV=

# API Cookie
COOKIE_SECRET=

# Database
DATABASE_URL=

# Storage
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ASSETS_URL=

# Resend (Email)
RESEND_API_KEY=
MAIL_FROM=

# JWT
JWT_SECRET=